# Entorno virtual
.venv/
venv/

# Archivos sensibles
.env
*.env
keys/
alembic.ini

# Archivos de config locales
settings.py  

# Compilados
__pycache__/
*.pyc

# Archivos de logs
*.log

# Binarios
*.exe
